<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{%if page.description %}{{ page.description }}{% else %}{{ site.title  }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/screen.css" media="screen, projection" type="text/css">
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/icons_ie7.css" media="screen, projection" type="text/css">
  <![endif]-->
</head>
